app-admin-drawer {
    overflow: hidden;
    .menu-flex {
        display: flex;
        flex-direction: row;
    }
    .admin-content {
        height: 90vh;
        width: 100%;
        overflow: auto;
        padding: 20px;
    }
}